@media only screen and (max-width: 1279px){}

/*HEADER*/
/*logo*/
.logo{
	background: url(../img/logo-sm.png) 0 0 no-repeat;
	width: 216px;
	height: 50px;
}
/*logo end*/

/*h-text*/
.h-text{ display: none; }
/*h-text end*/

/*main navigation*/
.nav-list{
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 0.025em;
}
.header-fixed .nav-list {
	font-size: 11px;
	line-height: 17px;
	letter-spacing: 0.025em;
}
/*main navigation end*/
/*HEADER END*/

/*MAIN CONTENT*/
.use-color{
	float: none;
	margin: 0 0 20px;
}
.align-layout,
.space-left .align-layout {
	padding: 0 32px;
}
.heading {
	padding-left: 132px;
}
.space-left .datetime{
	position: relative;
	left: auto;
	top: auto;
	margin: 0 0 24px;
}
.heading .datetime{
	position: absolute;
	left: 0;
	top: 0;
	margin: 0;
}
.imgc figcaption{
	padding: 20px 0 0;
}
.space-left .imgc.img-large {
	margin-left: 0;
}
.space-left .imgc.img-large figcaption{
	position: relative;
	left: auto;
	top: auto;
	width: auto;
	padding: 20px 0 0;
	text-align: center;
}
.space-left hr { margin-left: 0; }
.space-left .blockquote{
	margin: 0;
}
.user-content blockquote{
	padding: 43px 98px 30px;
}
.space-left .video-box {
	margin-left: 0;
}

/*test box*/
.test-box{
	margin-right: -32px;
	padding: 0 0 40px;
}
.test-box__label {
	float: none;
	margin-right: 0;
	padding: 0 0 4px;
}
.test-box__label,
.test-box h3{
	font-size: 18px;
	line-height: 24px;
}

.space-left .test-box__caption {
	position: relative;
	right: auto;
	top: auto;
	width: auto;
	padding: 0 32px 14px 0;
}
/*test box end*/

/*others*/
.other-holder { padding: 0 32px; }
.section-others h2,
.section-others.space-left h2{
	padding: 0 32px 24px;
}
/*others end*/

/*articles*/
.articles{
	width: 612px;
	padding-bottom: 26px;
}
.articles__item{ padding-bottom: 26px; }
.articles__all,
.articles__item{
	position: relative;
	padding-left: 13px;
	padding-right: 13px;
}
.caption{
	background-position: 23px 50%;
	-webkit-background-size: 52px;
	background-size: 52px;
}
.caption:before{ height: 10px; }
.caption__inner{
	padding: 24px 0 24px 96px;
	text-align: left;
}
.caption__inner h2 {
	font-size: 18px;
	padding: 0 0 8px;
	letter-spacing: 0.05em;
}
.caption__inner img{ display: none; }
/*articles end*/

/*sect*/
.sect .align-layout-sm,
.sect .align-layout{
	padding-right: 25px;
	padding-left: 95px;
}

.sect-about__info h2 {
	padding: 0 0 30px;
}
.sect-about__info-text {
	padding-right: 0;
}
.sect-about__img{
	opacity: 0.2;
	right: -183px;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
}

.sect-about__vita-text {
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
	-webkit-column-gap: 40px;
	-moz-column-gap: 40px;
	column-gap: 40px;
}

.sect-date__amount > div{
	width: 49.98%;
	padding: 0 3% 40px;
}
.sect-date__amount > div:before{
	display: none;
}
.sect-date__presence{ text-align: center; }
.sect-date__presence-box{ width: 49.98%; }

.section-profit__box{ text-align: center; }
.section-profit__col{ width: 49.98%; }

.years-list li,
.user-content .years-list li,
.user-content .years-list li:first-child{ padding: 0 2px 10px; }
.sect-history{ padding: 38px 0; }
.history-slider__item dl{ padding-left: 0; }
.sect-history__holder { margin: 0; }
.history-slider{
	padding: 0 0 70px;
}
.history-slider .slick-arrow{
	top: 100%;
	width: 40px;
	height: 40px;
	margin: -55px 0 0;
}
.history-slider .slick-arrow:hover{ background: none; }
.history-slider .slick-arrow:before{
	width: 40px;
	height: 40px;
}
.history-slider .slick-prev{
	left: 50%;
	margin-left: -60px;
}
.history-slider .slick-next{
	right: 50%;
	margin-right: -60px;
}

.structure__head h3{ text-align: center; }
.structure__col:first-child .structure__foot {
	margin: 0 0 0 -9989px;
	padding-right: 6%;
	padding-left: 9999px;
}
.structure__foot {
	margin: 0 -9999px 0 0;
	padding: 27px 9999px 13px 6%;
}
.tabs-wrap .tab-controls, .user-content .tab-controls{ margin: 0 -2px; }
.tab-controls li,
.user-content .tab-controls li,
.user-content .tab-controls li:first-child{
	padding: 0 2px 10px;
	letter-spacing: normal;
}
.tab-controls a{ padding:6px 12px 4px; }

.sect-office__text {
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
	-webkit-column-gap: 40px;
	-moz-column-gap: 40px;
	column-gap: 40px;
}
/*sect end*/
/*MAIN CONTENT end*/

/*PRE FOOTER*/
.pre-footer-logo{ display: none; }
/*tray*/
.tray{
	padding-left: 82px;
	padding-right: 82px;
}
.tray__col{
	padding-left: 8px;
	padding-right: 8px;
	text-align: center;
}
.tray__align{
	display: inline-block;
	vertical-align: top;
	text-align: left;
	max-width: 240px;
}
/*tray end*/
/*PRE FOOTER*/