@media only screen and (max-width: 1599px){}

.articles{
	width: 936px;
}

.tests{
	width: 936px;
}

/*PRE FOOTER*/
.pre-footer-logo{
	display: none;
}
/*tray*/
.tray{
	padding-left: 32px;
	padding-right: 32px;
	/*max-width: 1040px;*/
}
/*tray end*/
/*PRE FOOTER*/