@media only screen and (max-width: 639px){}

body{
	font-size: 14px;
	line-height: 24px;
}
p {
	padding: 0 0 24px;
}
h1 {
	font-size: 32px;
	line-height: 38px;
	padding: 0 0 16px;
	letter-spacing: normal;
}
h2 { line-height: 43px; }
h3{
	font-size: 20px;
	line-height: 28px;
}
h4 {
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.05em;
	padding: 0 0 16px;
}
hr {
	margin: 12px 0 32px;
}
.content.user-content { padding: 30px 0 10px; }
.form-col{
	width: auto;
	display: block;
}

/*HEADER*/
/*sub menu*/
.header__top{
	padding: 0;
	position: relative;
	overflow: visible;
	z-index: 1;
}
.enter-page .header__top{ padding-bottom: 90px; }
.enter-page .header__top:before{
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	height: 90px;
	width: 100%;
	background: #e6e6e6;
}
.sub-menu { padding: 20px 0 18px; }
.sub-menu li{
	padding-left: 10px;
	padding-right: 10px;
}
/*sub menu end*/

/*logo*/
.logo{
	background: url(../img/logo-sm.png) 0 0 no-repeat;
	width: 216px;
	height: 50px;
	left: 20px;
	top: 84px;
}
.enter-page .logo{
	left: 50%;
	margin-left: -108px;
}
.header-fixed .logo{
	opacity: 1;
	-webkit-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	transform: scale(1, 1);
}
.header-fixed .logo{ display: none; }
.header-fixed .logo-short{
	margin: 0;
	top: 0;
	left: 8px;
	-webkit-background-size: contain;
	background-size: contain;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
/*logo end*/

/*button aside*/
.btn-aside{
	top: 100px;
	right: 20px;
}
.header-fixed .btn-aside {
	top: 17px;
	right: 20px;
}
/*button aside end*/

/*main navigation*/
.main-nav{
	background: #fff;
	height: 90px;
}
.header-fixed .main-nav-wrap,
.header-fixed .main-nav,
.header-fixed .main-nav__holder{ height: 50px; }
.nav{ display: none; }
/*main navigation end*/
/*HEADER END*/

/*MAIN CONTENT*/
.align-layout,
.space-left .align-layout {
	padding: 0 20px;
}

.breadcrumbs-list li,
.user-content .breadcrumbs-list li {
	padding: 0 12px 6px 18px;
}
.breadcrumbs-list li:first-child,
.user-content .breadcrumbs-list li:first-child{
	padding-left: 0;
	background: none;
}

.heading {
	padding-left: 0;
}
.heading .datetime {
	position: relative;
	left: auto;
	top: auto;
	margin: 0;
}
.space-left .datetime,
.heading .datetime,
.datetime{
	margin: 0 auto 30px;
}
.datetime:before {
	left: 50%;
	top: 100%;
	margin: 0 0 0 -10px;
	border: solid rgba(255, 255, 255, 0);
	border-width: 9px 10px;
	border-left-color: transparent;
	border-top-color: #fff;
}
.imgc figcaption{
	line-height: 24px;
}
.imgc.img-large,
.space-left .imgc.img-large, .space-left .video-box { margin: 0 -20px 30px; }
.video-box{ padding: 0; }
.user-content blockquote { padding: 30px 20px; }

/*test box*/
.test-box {
	margin: 0 -20px;
	padding: 0 0 30px;
}
.test-box__layout {
	padding: 28px 20px;
}
.test-box__layout:before{ content: none; }
.test-box__img {
	position: relative;
	left: auto;
	top: auto;
	margin: 0 auto 20px;
}
.test-box__label,
.test-box h3{
	font-size: 18px;
	line-height: 24px;
}
.space-left .test-box__caption{
	padding-left: 20px;
	padding-right: 20px;
	line-height: 24px;
}
/*test box end*/

/*task*/
.task__item h4 { padding: 0 0 20px 28px; }
.task__check-list li,
.user-content .task__check-list li,
.user-content .task__check-list li:first-child {
	padding: 0 0 15px 28px;
}
/*task end*/

/*others*/
.other-holder {
	padding: 0;
}
.section-others h2,
.section-others.space-left h2{
	padding: 0 20px 24px;
	font-size: 30px;
	line-height: 38px;
}
/*others end*/


.heading-charter{ padding: 0 0 20px; }
.articles {
	max-width: 306px;
	padding-bottom: 26px;
}
.btn-all__img { max-width: 35%; }
.btn-all__inner { max-width: 66%; }

.heading-charter__img{ margin-bottom: 0; }

/*enter*/
.enter-wrap {
	padding: 30px 20px 50px;
}
.enter{
	width: auto;
	background-position: 50% 0;
}
.enter__caption {
	position: relative;
	width: auto;
	left: auto;
	top: auto;
	bottom: auto;
	padding: 43px 15px 29px;
}
.enter__caption h1{
	text-align: center;
	font-size: 18px;
	line-height: 30px;
	letter-spacing: 0.05em;
	padding: 0;
}
.enter__caption img,
.enter__info{
	display: none;
}
.enter__login {
	float: none;
	width: auto;
	margin-bottom: 0;
	padding: 30px 20px;
}
.enter__login h2{
	padding: 0 0 30px;
}
.enter__form-button {
	padding: 21px 0 30px;
}
/*enter end*/

/*sing up*/
.sing-up-wrap {
	width: auto;
	max-width: none;
	margin: 0;
	padding: 30px 20px 50px;
}
.sing-up__caption{ padding: 43px 15px 29px; }
.sing-up__caption:before{
	left: 15px;
	top: 15px;
	right: 15px;
	bottom: -15px;
}
.sing-up__col {
	padding: 0;
	float: none;
	width: auto;
}
.sing-up__body { padding: 30px 20px 0; }
.sing-up__caption h1{
	font-size: 24px;
	line-height: 38px;
	letter-spacing: 0.05em;
}
/*sing up end*/

/*sect*/
.sect .align-layout-sm,
.sect .align-layout {
	padding-right: 20px;
	padding-left: 20px;
	max-width: none;
}

.sect-about { padding: 25px 0 0; }
.sect-about__info h2 { padding: 0 0 20px; }

.sect-about__vita { padding: 30px 0; }
.sect-about__vita-text {
	-webkit-column-count: 1;
	-moz-column-count: 1;
	column-count: 1;
	-webkit-column-gap: 0;
	-moz-column-gap: 0;
	column-gap: 0;
	padding: 0 0 10px;
}
.sect-about__vita-text p{ padding: 0 0 24px; }

.sect-data{ padding: 30px 0; }
.sect-date__preview, .sect-date__conclusion{ padding: 0 0 24px; }
.sect-date__amount{
	display: table;
	width: 100%;
	padding: 0;
	margin: 0 0 40px;
}
.sect-date__amount > div {
	width: auto;
	padding: 0 0 24px;
	display: table-row-group;
}
.sect-date__amount > div > strong,
.sect-date__amount > div > span{
	display: table-cell;
	vertical-align: middle;
	text-align: left;
	font-size: 16px;
	line-height: 18px;
	padding: 8px 0 8px 10px;
}
.sect-date__amount > div > strong{
	font-size: 36px;
	line-height: 40px;
	text-align: right;
	padding-left: 0;
	padding-right: 10px;
}
.sect-data h2{ padding: 0 0 50px; }
.sect-date__presence{
	margin: 0;
	padding: 0 0 12px;
}
.sect-date__presence-box{
	width: auto;
	font-size: 16px;
	line-height: 24px;
	padding: 0 0 50px;
}
.sect-date__presence-amount{ margin: 0 auto 15px; }
.date__conclusion { padding: 0; }

.sect-profit{
	padding: 30px 0;
	background: #fff;
}
.sect-profit h2{
	font-size: 34px;
	letter-spacing: normal;
	padding: 0 0 30px;
}
.section-profit__box{ margin: 0; }
.section-profit__col {
	width: auto;
	padding: 0 0 30px;
}

.sect-history { padding: 30px 0 0; }
.sect-history h2 { padding: 0 0 24px; }
.years-list, .user-content .years-list{ padding: 0 0 10px; }
.history-slider__item { padding: 30px 20px; }
.history-slider__item dt {
	float: none;
	display: block;
	padding: 0 0 5px;
}
.history-slider__item dd { padding: 0 0 15px 20px; }

.targets__item{ width: auto; }
.targets__item h3{ padding: 20px 40px 20px 20px; }
.targets__angle{ right: 18px; }
.targets__panel{ padding: 0 20px 22px; }

.sect-structure{ padding-top: 30px; }
.sect-structure h2 {
	text-align: center;
	padding: 0 0 4px;
}
.structure { margin: 0; }
.structure__col {
	float: none;
	width: auto;
}
.structure__head{ padding: 20px 0 10px; }
.structure__foot,
.structure__col:first-child .structure__foot{
	padding: 20px 9999px 10px;
	margin: 0 -9999px;
}
.structure__foot .tabs-wrap { padding-top: 0; }
.structure__img { margin-right: 0; }

.sect-office{ padding: 30px 0; }
.sect-office h2{
	font-size: 24px;
	line-height: 29px;
	padding: 0 0 24px;
}
.sect-office h3{
	font-size: 18px;
	line-height: 24px;
	letter-spacing: normal;
	padding: 0 0 24px;
}
.sect-office__text{
	-webkit-column-count: 1;
	-moz-column-count: 1;
	column-count: 1;
	-webkit-column-gap: 0;
	-moz-column-gap: 0;
	column-gap: 0;
	padding: 0 0 6px;
}
.sect-office__text p{ padding: 0 0 24px; }
/*sect end*/
/*MAIN CONTENT end*/

/*MENU*/
.menu{ display: none; }
/*MENU end*/

/*ASIDE*/
.aside .nav-list{ display: block; }
.header-fixed .aside .nav-list {
	font-size: 14px;
	line-height: 18px;
	letter-spacing: 0.025em;
}
.aside-show .btn-aside {
	position: fixed;
	right: 20px;
	top: 24px;
}
/*ASIDE end*/

/*PRE FOOTER*/
.pre-footer{ padding: 35px 0 20px; }
.pre-footer-logo{ display: none; }
.tray{ padding: 0 20px 20px; }
.tray__col{ padding: 0; }
.tray__align{ max-width: 210px; }
.tray .slick-arrow{
	width: 40px;
	height: 40px;
	top: auto;
	bottom: 10px;
	z-index: 3;
}
.tray .slick-prev { left: 20px; }
.tray .slick-next { right: 20px; }
.tray .slick-dots{ padding: 25px 48px 0; }
/*PRE FOOTER END*/

/*FOOTER*/
.enter-page .footer{ border-top: 1px solid #0054a8; }
.footer-holder{ padding: 0; }
.footer-holder:before{ content: none; }
.footer-col{
	display: block;
	width: auto;
	border-top: 1px solid #0054a8;
	padding: 15px 20px;
	text-align: center;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.1em;
}
.footer-col:first-child{ border: none; }
/*FOOTER end*/
