@media only screen and (max-width: 639px){}

/*HEADER*/
/*sub menu*/
.header__top{
	padding: 0;
	position: relative;
	overflow: visible;
	z-index: 1;
}
.enter-page .header__top{ padding-bottom: 90px; }
.enter-page .header__top:before{
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	height: 90px;
	width: 100%;
	background: #e6e6e6;
}
.sub-menu { padding: 20px 0 18px; }
.sub-menu li{
	padding-left: 10px;
	padding-right: 10px;
}
/*sub menu end*/

/*logo*/
.logo{
	background: url(../img/logo-sm.png) 0 0 no-repeat;
	width: 216px;
	height: 50px;
	left: 20px;
	top: 84px;
}
.enter-page .logo{
	left: 50%;
	margin-left: -108px;
}
.header-fixed .logo{
	opacity: 1;
	-webkit-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	transform: scale(1, 1);
}
.header-fixed .logo{ display: none; }
.header-fixed .logo-short{
	margin: 0;
	top: 0;
	left: 8px;
	-webkit-background-size: contain;
	background-size: contain;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
/*logo end*/

/*button aside*/
.btn-aside{
	top: 100px;
	right: 20px;
}
.header-fixed .btn-aside {
	top: 17px;
	right: 20px;
}
/*button aside end*/

/*main navigation*/
.main-nav{
	background: #fff;
	height: 90px;
}
.header-fixed .main-nav-wrap,
.header-fixed .main-nav,
.header-fixed .main-nav__holder{ height: 50px; }
.nav{ display: none; }
/*main navigation end*/
/*HEADER END*/

/*MAIN CONTENT*/
.articles {
	max-width: 306px;
	padding-bottom: 26px;
}
.btn-all__img { max-width: 35%; }
.btn-all__inner { max-width: 66%; }

/*enter*/
.enter-wrap {
	padding: 30px 20px 50px;
}
.enter{
	width: auto;
	background-position: 50% 0;
}
.enter__caption {
	position: relative;
	width: auto;
	left: auto;
	top: auto;
	bottom: auto;
	padding: 43px 15px 29px;
}
.enter__caption h1{
	text-align: center;
	font-size: 18px;
	line-height: 30px;
	letter-spacing: 0.05em;
	padding: 0;
}
.enter__caption img,
.enter__info{
	display: none;
}
.enter__login {
	float: none;
	width: auto;
	margin-bottom: 0;
	padding: 30px 20px;
}
.enter__login h2{
	padding: 0 0 30px;
}
.enter__form-button {
	padding: 21px 0 30px;
}
/*enter end*/

/*sing up*/
.sing-up-wrap {
	width: auto;
	max-width: none;
	margin: 0;
	padding: 30px 20px 50px;
}
.sing-up__caption{ padding: 43px 15px 29px; }
.sing-up__caption:before{
	left: 15px;
	top: 15px;
	right: 15px;
	bottom: -15px;
}
.sing-up__col {
	padding: 0;
	float: none;
	width: auto;
}
.sing-up__body { padding: 30px 20px 0; }
.sing-up__caption h1{
	font-size: 24px;
	line-height: 38px;
	letter-spacing: 0.05em;
}
/*sing up end*/
/*MAIN CONTENT end*/

/*ASIDE*/
.aside .nav-list{ display: block; }
.header-fixed .aside .nav-list {
	font-size: 14px;
	line-height: 18px;
	letter-spacing: 0.025em;
}
.aside-show .btn-aside {
	position: fixed;
	right: 20px;
	top: 24px;
}
/*ASIDE end*/

/*PRE FOOTER*/
.pre-footer{ padding-bottom: 20px; }
.pre-footer-logo{ display: none; }
.tray{ padding: 0 12px 20px; }
.tray .slick-arrow{
	width: 40px;
	height: 40px;
	top: auto;
	bottom: 10px;
	z-index: 3;
}
.tray .slick-prev { left: 20px; }
.tray .slick-next { right: 20px; }
.tray .slick-dots{
	padding-left: 48px;
	padding-right: 48px;
}
/*PRE FOOTER END*/

/*FOOTER*/
.enter-page .footer{ border-top: 1px solid #0054a8; }
.footer-holder{ padding: 0; }
.footer-holder:before{ content: none; }
.footer-col{
	display: block;
	width: auto;
	border-top: 1px solid #0054a8;
	padding: 15px 20px;
	text-align: center;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.1em;
}
.footer-col:first-child{ border: none; }
/*FOOTER end*/
