@media only screen and (max-width: 959px){}
/*MAIN CONTENT*/
.main-content{ margin-right: 0; }
/*MAIN CONTENT END*/

/*HEADER*/
.enter-page .header{
	padding: 0;
	margin: 0;
}
.header__top{
	padding-left: 110px;
	padding-right: 110px;
	height: auto;
}
/*logo*/
.logo{
	background: url(../img/logo-short.png) 0 0 no-repeat;
	width: 50px;
	height: 50px;
	position: absolute;
	top: 20px;
	left: 30px;
	margin: 0;
	-webkit-transition: none;
	transition: none;
}
/*logo end*/

/*sub-menu*/
.sub-menu{
	float: none;
	text-align: center;
	padding: 34px 0 0;

	font-size: 0;
	letter-spacing: -4px;
}
.sub-menu li{
	float: none;
	display: inline-block;
	vertical-align: top;
	text-align: left;
	padding: 0 15px 8px;

	font-size: 14px;
	letter-spacing: 0.05em;
}
/*sub-menu end*/

/*main navigation*/
.main-nav,
.nav,
.nav-list,
.logo-short,
.nav-list a,
.nav-list a:after,
.main-nav__holder{
	-webkit-transition: none;
	transition: none;
}
.main-nav{
	-webkit-transition-property: -webkit-transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
.header-fixed .main-nav__holder{ margin-right: 0; }
.nav-list a,
.main-nav-wrap{ height: 90px; }
.header-fixed .nav-list a{ height: 65px; }
.logo-short{ left: 5px; }
.header-fixed .logo-short{
	-webkit-transform: scale(0.80, 0.80);
	-ms-transform: scale(0.80, 0.80);
	transform: scale(0.80, 0.80);
}
/*main navigation end*/
/*HEADER END*/

/*MAIN CONTENT*/
/*enter*/
.enter__caption h1{
	font-size: 20px;
	line-height: 30px;
	letter-spacing: 0.05em;
}
.enter__login h2{
	font-size: 23px;
	line-height: 33px;
	letter-spacing: 0.05em;
}
/*enter end*/

/*sing up*/
.sing-up__col{ padding: 0 2%; }
.sing-up__body { padding: 50px 20px 0; }
.sing-up .form-note {
	margin-left: -20px;
	margin-right: -20px;
	padding: 30px 20px;
}
/*sing up end*/
/*MAIN CONTENT end*/

/*ASIDE*/
/*button menu*/
.btn-aside{ display: block; }
.enter-page .btn-aside{ display: none; }
.header-fixed .btn-aside{
	position: fixed;
	top: 23px;
	right: 20px;
}
.header-fixed .nav{
	padding-left: 60px;
	padding-right: 60px;
}
/*button menu end*/

.main-frame,
.aside,
.btn-aside{
	-webkit-transition-property: -webkit-transform;
	transition-property: -webkit-transform;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
}
.aside-show .btn-aside{
	position: fixed;
	right: 30px;
	top: 36px;
	-webkit-transform: translate(-320px, 0);
	-ms-transform: translate(-320px, 0);
	transform: translate(-320px, 0);
}
.header-fixed.aside-show  .btn-aside {
	top: 23px;
	right: 20px;
}

.aside{
	display: block;
	float: none;
	position: fixed !important;
	top: 0 !important;
	right: 0;
	width: 320px;
	height: 100%;
	overflow: auto;
	-webkit-transform: translate(100%, 0);
	-ms-transform: translate(100%, 0);
	transform: translate(100%, 0);
}
.aside-show .aside{
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	transform: translate(0, 0);
}
.aside__holder:after{ content: none; }
.cabinet__btn{ font-size: 24px; }
.aside-overlay,
.aside-show .aside-overlay { width: 100%; }
/*ASIDE end*/

/*PRE FOOTER*/
.tray{ max-width: 1040px; }
/*PRE FOOTER END*/

/*FOOTER*/
.footer-holder{
	padding-left: 20px;
	padding-right: 20px;
}
.footer-col{ width: 39.98%; }
.footer-col_left,
.footer-col_right{ width: 29.98%; }
/*FOOTER end*/
