/*icons*/
[class|="depict"],
[class*=" depict-"]{
	background:url(../img/sprite-icons.png) 0 0 no-repeat;
	display: inline-block;
	vertical-align: top;
}
.depict-question{ background-position: 0 0; width: 23px; height: 31px; }
.depict-editor{ background-position: 0 -51px; width: 30px; height: 30px; }
.depict-colleague{ background-position: 0 -101px; width: 30px; height: 30px; }
/*icons end*/

/*social icons*/
[class|="soc-depict"],
[class*=" soc-depict-"] {
	background:url(../img/sprite-social.png) 0 0 no-repeat;
	display: inline-block;
	vertical-align: top;
}
/*social icons end*/

/*menu icons*/
[class*="depict-menu-"]{
	display: inline-block;
	vertical-align: top;
	width: 60px;
	height: 60px;
	position: relative;
	background: none;
}
[class*="depict-menu-"]:before,
[class*="depict-menu-"]:after{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 60px;
	width: 60px;
	background:url(../img/sprite-menu.png) 0 0 no-repeat;
}
[class*="depict-menu-"]:before{
	opacity: 1;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}
[class*="depict-menu-"]:after{
	opacity: 0;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
}
.depict-menu-about:before{ background-position: 0 0; width: 60px; height: 60px; }
.depict-menu-about:after{ background-position: 0 -80px; width: 60px; height: 60px; }
.depict-menu-data:before{ background-position: 0 -160px; width: 60px; height: 60px; }
.depict-menu-data:after{ background-position: 0 -240px; width: 60px; height: 60px; }
.depict-menu-benefits:before{ background-position: 0 -320px; width: 60px; height: 60px; }
.depict-menu-benefits:after{ background-position: 0 -400px; width: 60px; height: 60px; }
.depict-menu-history:before{ background-position: 0 -480px; width: 60px; height: 60px; }
.depict-menu-history:after{ background-position: 0 -560px; width: 60px; height: 60px; }
.depict-menu-target:before{ background-position: 0 -640px; width: 60px; height: 60px; }
.depict-menu-target:after{ background-position: 0 -720px; width: 60px; height: 60px; }
.depict-menu-structure:before{ background-position: 0 -800px; width: 60px; height: 60px; }
.depict-menu-structure:after{ background-position: 0 -880px; width: 60px; height: 60px; }
.depict-menu-office:before{ background-position: 0 -960px; width: 60px; height: 60px; }
.depict-menu-office:after{ background-position: 0 -1040px; width: 60px; height: 60px; }
/*menu icons end*/

@media ( -webkit-min-device-pixel-ratio : 1.5 ),
( min-resolution : 144dpi ){
	.iii {
		background-size:38px 38px;
	}
}